/*1440 x 2560 */ 
body{
    max-height:100vh;
    max-width:100%;
    background-color:#A81E91;
    position:absolute;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
}
input:focus {outline: none; }
#phone-frame{
    width:360px;
    height:640px;
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-180px;
    margin-top:-320px;
    box-sizing:border-box;
    padding:80px 10px 40px 10px;
    background-color:black;
    border-radius:50px;
}
#header{
    position:absolute;
    font-weight:bold;
    width:100%;
    height:10%;
    color:black;
    text-align:center;
    box-sizing:border-box;
    padding:2%;
    z-index:2;
}

    #header  span:nth-child(1){
        left:4%;
        position:absolute;
    }
    #header  span:nth-child(2){
        display:inline-block;
    }
    #header  span:nth-child(3){
        right:4%;
        position:absolute;
    }
#main{
    width:100%;
    height:100%;  
    position:relative;
}
#def-bg{
    width:100%;
    height:100%;
    background-image: url("./images/icon/home_bg.png");
    z-index:2;
    opacity:1;
    position:absolute;
    background-size: 100% auto;
    overflow:hidden;
}
#location-form{
    position:absolute;
    width:70%;
    top:7%;
    left:15%;
    z-index:2;/*2*/

    
}
    #location-in{
        background-color: rgba(200,200,200,0.7);
        width:100%;
        text-align:center;
        border:0;
        line-height: 2em;
        padding: 0px 5px 0px 5px;
        border-radius:20px;
        text-decoration-style:none;
        
        /*font-family:FontAwesome;*/
    }
#settings-button{
    width:10%;
    position:absolute;
    top:7%;
    height:2em;
    width:2em;
    left:4%;
    background-image: url("./images/icon/setting_icon.png");
    background-size: 100% 100%;
    z-index:2;
}
#settings-page{
    position:absolute;
    width:100%;
    height:100%;
    background-color:lightgrey;
    text-align:center;
    box-sizing:border-box;
    padding: 30% 20% 30% 20%;
    z-index:3;
    visibility:hidden;  
    opacity:0; 
}
    #settings-page h1{
        color:#0c9b93;
        font-size:1.5em;
    }
    #settings-page span{
        border-radius:20%;
        background-size: 100% 100%;
    }
    
        #settings-page span:hover{
            box-shadow: 0px 0px 0px 3px #0c9b93;     
        }

    #settings-page span:nth-child(2){
        width:45%;
        display:inline-block;
        padding-top:33%;
        box-sizing:border-box;
        
        background-image:url("./images/icon/ring.png");
    }
    #settings-page span:nth-child(3){
        width:45%;
        display:inline-block;
        padding-top:33%;
        background-image:url("./images/icon/vibrate.png");
        margin-left:6%;
        box-sizing:border-box;
    }
    #settings-back{
        margin-top:8%;
        width:100%;
        height:12%;
        display:table;
        background-color:#0c9b93;
        border-radius:10px;
        line-height:100%;
        vertical-align:middle;
    }
    #settings-back h1{
        color:white;
        height:100%;
        line-height:100%;
        display:table-cell; 
        vertical-align:middle;
        text-align:center
    }

#marker-descrip{
    width:70%;
    position:absolute;
    top:20%;
    left:15%;
    box-sizing:border-box;
    z-index:3;
    visibility:hidden;  
    opacity:0; 
}
#descrip-txt{
    width:100%;
    height:60%;
    display:block;
    margin-bottom:5%;
    resize: none;
}

    #marker-descrip span{
        width:45%;
        display:inline-block;
        padding-top:14%;
        box-sizing:border-box;
        color:white;
        background-size:100%;
        position:relative;
    }
    #marker-descrip span:nth-child(2){       
        background-image:url("./images/icon/submit_failed.png");
        left:0%;
    }
    #marker-descrip span:nth-child(3){
        background-image:url("./images/icon/cancel_failed.png");
        left:10%;
    }


#reminders{
    width:10%;
    position:absolute;
    top:7%;
    height:2em;
    width:2em;
    right:2%;
}

#draw{
    width:15%;
    padding-top:15%;
    position:absolute;
    box-sizing:border-box;
    bottom:0%;
    right:4%;
    margin-bottom:4%;
    background-image: url("./images/icon/drawing.png");
    background-size: 100% 100%;
    z-index:2;
}

#compass{
    width:15%;
    padding-top:15%;
    position:absolute;
    box-sizing:border-box;
    bottom:12%;
    right:4%;
    margin-bottom:4%;
    background-image: url("./images/icon/locate.png");
    background-size: 100% 100%;
    z-index:2;
}

#map{
    height:100%;
    width:100%;
    z-index:1;/*-1*/
}